<div class="container-fluid main-bg text-white vh-100 d-flex justify-content-center" >
  <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
    <img class="logo" src="Gallo2.png" alt="">
  </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-center px-5">

    <h1 class="mb-4 fw-bold" style="color: #FFC107; text-align: center;">Que ocurre en la UAA?</h1>
    <h4 class="mb-4" style="text-align: center;" > Informate Hoy</h4>
    <h5 class="mb-4" >Eventos y asusntos de interes, todo entorno a la universidad</h5>
    <h5 class="mb-4" style="color: #FFC107;" >Soy Universitario:</h5>
    
    <button class="btn w-100 rounded-pill mb-3" style="background-color:#222222; color: aliceblue;"
          data-bs-toggle="modal" 
          data-bs-target="#registroModal">
      Crear cuenta
    </button>

    <h5 class="mb-4"  style="color:#1E88E5">Quiero ingresar como invitado:</h5>
    <div id="googleBtn">
    </div>
    <small class="text-secondary">
      Al registrarte aceptas los términos de servicio y privacidad.
    </small>

    <div class="mt-4">
      <h5 style="color: #1E88E5;">¿Ya tienes cuenta?</h5>
      <button class="btn  w-100 rounded-pill"  style="background-color:#222222; color: aliceblue;">
        Iniciar sesión
      </button>
    </div>

  </div>
   
</div>

<div class="modal fade bg-modal" 
       id="registroModal" 
       data-bs-backdrop="static" 
       data-bs-keyboard="false" 
       tabindex="-1" 
       aria-labelledby="registroModalLabel" 
       aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

      <div class="modal-body">
        
        <h5 class="text-center mb-3" style="color: #1E88E5;">Paso {{paso}} de 3</h5>

        <div *ngIf="paso === 1">
          <p class="fw-bold">Ingresa tu Correo Universitario:</p>
          <input [(ngModel)]="datos.correo" type="email" class="form-control" placeholder="al000000@edu.uaa.mx">
          
          <button (click)="solicitarCodigo()" class="btn btn-primary w-100 mt-3">
            Enviar Código
          </button>
        </div>

        <div *ngIf="paso === 2">
          <div class="alert alert-info py-2" role="alert">
            Hemos enviado un código a {{datos.correo}}
          </div>
          <p class="fw-bold">Código de verificación:</p>
          <input [(ngModel)]="codigoVerificacion" type="text" class="form-control" placeholder="Ej. 123456">
          
          <button (click)="validarCodigo()" class="btn btn-success w-100 mt-3">
            Validar Código
          </button>
        </div>

        <div *ngIf="paso === 3">
          <div class="alert alert-success py-2">¡Correo validado! Completa tus datos.</div>

          <p>Nombre: 
            <input [(ngModel)]="datos.nombre" type="text" class="form-control">
          </p>

          <p>Contraseña:   
            <input [(ngModel)]="datos.password" type="password" class="form-control">
          </p>

          <p>Foto de Perfil:   
            <input (change)="onFotoSeleccionada($event)" type="file" class="form-control">
          </p>

          <button (click)="enviarRegistroFinal()" class="btn btn-success w-100 mt-3">
             Finalizar Registro
          </button>
        </div>

        <button type="button"
          class="btn btn-secondary w-100 mt-2"
          data-bs-dismiss="modal"
          (click)="resetFormulario()"> Cancelar / Cerrar
        </button>

        <h6 class="mt-3 text-center text-danger">{{ mensaje }}</h6>
      </div>

    </div>

  </div>
</div>

<div class="modal fade bg-modal" 
       id="loginModal" 
       data-bs-backdrop="static" 
       data-bs-keyboard="false" 
       tabindex="-3" 
       aria-labelledby="registroModalLabel" 
       aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

      <div class="modal-body">
        
        <h5 class="text-center mb-3" style="color: #1E88E5;">Ingresa tu correo y contraseña</h5>
        <p class="fw-bold">Ingresa tu Correo Universitario:</p>
          <input [(ngModel)]="datos.correo" type="email" class="form-control" placeholder="al000000@edu.uaa.mx">
          
          <button (click)="solicitarCodigo()" class="btn btn-primary w-100 mt-3">
            Enviar Código
          </button>
        <button type="button"
          class="btn btn-secondary w-100 mt-2"
          data-bs-dismiss="modal"
          (click)="resetFormulario()"> Cancelar / Cerrar
        </button>
        <h6 class="mt-3 text-center text-danger">{{ mensaje }}</h6>
      </div>

    </div>

  </div>
</div>