<nav class="navbar fixed-top" id="navbar">
  <div class="container-fluid px-3">
    
    <div class="d-flex align-items-center gap-3" style="min-width: 200px;">
        <a class="navbar-brand m-0 p-0" href="#">
            <img src="Gallo2.png" alt="Logo UAA" width="45" height="45">
        </a>

        <a class="nav-link d-flex align-items-center gap-2 link-inicio d-none d-md-flex" 
           href="/home" 
           routerLinkActive="active-link"
           style="cursor: pointer;"> <img src="home.png" alt="">
        </a>
    </div>

    <div class="flex-grow-1 d-flex justify-content-center">
        <div class="search-bar-container">
            <span class="search-icon"></span>
            <input 
                type="text" 
                class="search-input" 
                placeholder="Buscar en UAA Social..."
                [(ngModel)]="terminoBusqueda"
                (keyup.enter)="buscar()">
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center" style="min-width: 200px;">
        
        <div class="profile-container" (click)="irAPerfil()" title="Ver mi perfil">
            <img *ngIf="avatarUrl" [src]="avatarUrl" class="profile-img" alt="Perfil">
            
            <div *ngIf="!avatarUrl" class="profile-placeholder">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                </svg>
            </div>
        </div>
    </div>

  </div>
</nav>