<nav class="navbar fixed-top bg-body-tertiary shadow-sm" id="navbar">
  <div class="container-fluid px-4">
    
    <div class="navbar-left d-flex align-items-center">
        <a class="navbar-brand m-0" href="#">
            <img src="Gallo2.png" alt="Logo" width="40" height="40">
        </a>
    </div>
  <div class="icono">
            <a class="navbar-brand" style="margin: 0;" href="#">
                <img src="Gallo2.png" alt="Logo UAA" width="50" height="50">
            </a>
        </div>

        <a class="nav-link text-white d-flex align-items-center gap-2 link-animado" 
           routerLink="/home" 
           routerLinkActive="active-link">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
            </svg>
            
            <span class="d-none d-md-block fw-bold">Inicio</span>
        </a>

    </div>

    <div class="navbar-center d-none d-md-block">
        <div class="search-bar-container">
            <input 
                type="text" 
                class="search-input" 
                placeholder="Buscar eventos, publicaciones o #etiquetas..."
                [(ngModel)]="terminoBusqueda"
                (keyup.enter)="buscar()">
        </div>
    </div>

    <div class="navbar-right d-flex align-items-center gap-3">
        
        <button class="btn-icon" title="Inicio" (click)="irAHome()">
            
        </button>

        <div class="profile-container" (click)="irAPerfil()" title="Ver mi perfil">
            <img 
                [src]="avatarUrl || 'assets/person.png'" 
                alt="Mi Perfil" 
                class="profile-img">
            <svg *ngIf="!avatarUrl" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>
    </div>


  </div>
</nav>