<div class="post-card">
    <div class="post-header">
        <img class="avatar" [src]="avatarUrl" alt="Avatar">
        <div class="userInfo">
            <h4 class="author-name" style="color: ced0d4;">{{ nombreAutor }}</h4>
            <div class="post-meta">
                <small>{{ post.createdAt | date: 'mediumDate' }}</small>
                <span class="dot">·</span>
                </div>
        </div>
        <div class="post-menu"></div>
    </div>
    <div class="post-body">
        <p class="post-text">{{ post.description }}</p>
        
        <div *ngIf="post.imagePaths && post.imagePaths.length > 0" class="media-container">
            <img 
                *ngFor="let img of post.imagePaths"
                class="post-image"
                [src]="getPostImageUrl(img)" 
                alt="Imagen del post"
            />
        </div>
    </div>

    <div class="post-footer">
        <div class="stats-row">

        </div>

        <div class="actions-row">
        </div>
    </div>
</div>