<!--<div class="post-card">
    <div class="post-header">
        <div>
            <img class="avatar" src="person.png" alt="">
        </div>
       <div class="userInfo">
        <h4>Autor</h4>
        <small>fechapost</small>
       </div>
    </div>
    <div class="post-body">
        <p class="post-text">
            post del texto
        </p>
         <img
            *ngIf="post.image"
            class="post-image"
            [src]="post.image"
            alt="Post image"
        />
    </div>
    <div class="post-footer">
        <button (click)="toogleLike()"></button>
        <button (click)=""></button>
    </div>
</div>-->