<div class="feed-container body"
     #scrollable
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="loadMorePosts()">

    <div class="feed-tabs">
        <div class="tab-item" 
             [class.active]="vistaActual === 'intereses'"
             (click)="cambiarVista('intereses')">
            <span>Para ti</span>
            <div class="active-line" *ngIf="vistaActual === 'intereses'"></div>
        </div>

        <div class="tab-item" 
             [class.active]="vistaActual === 'todos'"
             (click)="cambiarVista('todos')">
            <span>Explorar</span>
            <div class="active-line" *ngIf="vistaActual === 'todos'"></div>
        </div>
    </div>
    <app-event-bar #eventBar></app-event-bar> 
    
    <app-create-post 
    (postCreado)="cargarFeed()"
    (eventoCreado)="recargarEventos()">
    </app-create-post>

    <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>

    <div *ngIf="isLoading" class="text-center py-4 text-muted">
        <small>Cargando más...</small>
    </div>

</div>