<div class="stories-wrapper">
    <div class="header-section">
        <h5 class="section-title">Eventos Próximos</h5>
    </div>

    <div class="stories-container" *ngIf="!mostrarArchivo">
        <div class="story-card" 
             *ngFor="let evento of eventosActivos" 
             (click)="abrirModal(evento)"
             [style.background-image]="obtenerEstiloBackground(evento.imagenes)">
             <div class="story-overlay"><p>{{ evento.titulo }}</p></div>
        </div>
    </div>

    <div class="archive-container" *ngIf="mostrarArchivo">
        <h6 class="section-title">Eventos Pasados</h6>
        <div class="story-card past" 
             *ngFor="let evento of eventosPasados" 
             (click)="abrirModal(evento)"
             [style.background-image]="obtenerEstiloBackground(evento.imagenes)">
             <div class="story-overlay"><p>{{ evento.titulo }}</p></div>
        </div>
    </div>
</div>
<!-- MODAL EVENTO -->
<div 
  class="evento-modal"
  *ngIf="eventoSeleccionado"
  (click)="cerrarModal()">

  <!-- Tarjeta del modal -->
  <div class="evento-modal-card" (click)="detenerPropagacion($event)">

    <!-- Imagen -->
    <div 
      class="evento-modal-img"
      [style.background-image]="obtenerEstiloBackground(eventoSeleccionado.imagenes)">
    </div>

    <!-- Contenido -->
    <div class="evento-modal-body">

      <button class="btn-cerrar" (click)="cerrarModal()">✕</button>

      <h2>{{ eventoSeleccionado.titulo }}</h2>

      <p class="evento-fecha">
        📆 {{ eventoSeleccionado.fechaInicio | date:'fullDate' }}
      </p>

      <p class="evento-hora">
        ⏰ {{ eventoSeleccionado.horaInicio }} - {{ eventoSeleccionado.horaFin }}
      </p>

      <p class="evento-lugar">
        📍 {{ eventoSeleccionado.lugar }}
      </p>

      <hr>

      <p class="evento-descripcion">
        {{ eventoSeleccionado.description }}
      </p>

    </div>
  </div>
</div>
