<div class="stories-wrapper">
    <h5 class="section-title">Eventos Próximos</h5>

    <div class="stories-container">
        <div 
            class="story-card" 
            *ngFor="let evento of eventos"
            (click)="abrirModal(evento)"
            
            [style.background-image]="obtenerEstiloBackground(evento.imagenes)">
            
            <div class="story-overlay">
                 <div class="date-badge">
                    {{ evento.fechaInicio | date:'d MMM' }}
                </div>
                <p class="story-title">{{ evento.titulo }}</p>
            </div>
        </div>

    </div>
</div>
<!-- MODAL EVENTO -->
<div 
  class="evento-modal"
  *ngIf="eventoSeleccionado"
  (click)="cerrarModal()">

  <!-- Tarjeta del modal -->
  <div class="evento-modal-card" (click)="detenerPropagacion($event)">

    <!-- Imagen -->
    <div 
      class="evento-modal-img"
      [style.background-image]="obtenerEstiloBackground(eventoSeleccionado.imagenes)">
    </div>

    <!-- Contenido -->
    <div class="evento-modal-body">

      <button class="btn-cerrar" (click)="cerrarModal()">✕</button>

      <h2>{{ eventoSeleccionado.titulo }}</h2>

      <p class="evento-fecha">
        📆 {{ eventoSeleccionado.fechaInicio | date:'fullDate' }}
      </p>

      <p class="evento-hora">
        ⏰ {{ eventoSeleccionado.horaInicio }} - {{ eventoSeleccionado.horaFin }}
      </p>

      <p class="evento-lugar">
        📍 {{ eventoSeleccionado.lugar }}
      </p>

      <hr>

      <p class="evento-descripcion">
        {{ eventoSeleccionado.description }}
      </p>

    </div>
  </div>
</div>
